.table{
    max-width: 850px;
    width: 100%; 
    padding-top: 60px;
}
.header{
    padding:50px 30px;
    background-color:#353e6d; 
    background-size: cover;
    background-position: center;
}
.header h1{
    text-transform: capitalize;
    font-family: 'Lobster Two';font-size:28px; color:#ffffff;
    background-color:#c85959;
    display: inline-block;
    padding:10px 30px ;
    text-decoration: none;
    font-weight: 700;
    border-radius:10px;
}
.header h2{
    font-family: 'Sawarabi Mincho', serif; 
    color:#ffffff;
    text-shadow:1px 1px #444444;
    text-transform: uppercase; 
    font-size: 70px; 
    padding-top: 5px;
}
.header i{
    padding-right: 20px;
    color: #c85959;
}
.header p{
    color:#ffffff; 
    font-size: 15px; 
    margin:0px 80px;
    padding: 0px 70px;
    line-height:25px;
    font-family:Arial, Helvetica, sans-serif;
}
.line div{
    display: block;
    width:100%;
    height: 8px;
    background-color: #c85959;
}
.body{
    width: 100%;
    background-color: #ffffff;
    padding: 20px; 
    text-align: center;
    display: inline-block;
    max-width:810px;
}
.body p{
    font-size:16px;
    color:#000000; 
    margin-bottom:20px;
    margin-left: 100px;
    margin-right: 100px;
    line-height:25px; 
    font-family:Arial, Helvetica, sans-serif;
}
.body h2{
    font-family: 'Lobster Two';
    font-size:32px;
    color:#353e6d
}
.star{
    background-color: #ffffff;
    padding-left: 50px; 
    text-align: center;
    padding-top: 30px;
}
.star i{
    padding-right: 20px;
    color: #c85959;
}
.button{
    width: 100%;
    background-color: #ffffff;
    padding: 20px; 
    text-align: center;
    display: inline-block;
    max-width:530px;
    width: 100%;
    padding-left: 300px;
}
.button a{
    color: #fff;
    background-color:#c85959;;
    display: inline-block;
    font-size: 19px;
    padding:10px 95px ;
    text-decoration: none;
    font-weight: 700;
    border-radius:20px;
    margin-top: 35px;
    margin-bottom: 55px;
    text-transform: uppercase; 
    font-family: 'Sawarabi Mincho', serif;
}